.search-box {
    display: flex;
    &__input {
        border: 1px solid rgba(0, 0, 0, 0.198);
        // flex-grow: 1;
        border-radius: 4px 0 0 4px;
        padding: .6rem 1.2rem;
        &:focus,
        &:active {
            outline: none;
            border: 1px solid #999;
        }
    }
}