.sorting-group {
    // margin: 1.5rem;
    display: flex;
    float: right;
    &__form-control {
        line-height: 1.85;
        border: 1px solid rgba(0, 0, 0, 0.198);
        border-radius: 4px;
        padding: .6rem 1.2rem;
        width: 100%;
        font-size: 1.4rem;
    }
}