.nav {
    &__item {
        padding: 1rem 1.5rem;
    }
    &__link {
        text-transform: uppercase;
        color: #444 !important;
        font-weight: 700;
        font-size: 1.2rem;
        &:hover {
            color: #0088CC !important;
        }
    }
    &__logout {
        position: relative;
        left: 43rem;
    }
}